body {
    font-family: Verdana;
    background-color: black;
    text-align: center;
}


h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    margin: 33.5px 0;
}

.cta {
    color: aquamarine;
    font-size: 16px;
}