body {
    font-family: Verdana;
    background-color: black;
    text-align: center;
}


h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    margin: 33.5px 0;
}

.cta {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    color: gray;
    font-size: 21px;
}

.app {
    margin: 21px 0;
}

.footer {
    text-align: right;
    color: gray;
    font-size: 21px;
}